<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>轻购云管理后台</title>
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=asBi7WBV6z9YpxhVCRyI3FDYnebMQXzp"></script>
  <script type="text/javascript" src="/moment.js"></script>
  <script type="text/javascript" src="/communication.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
