$borderFocusColor:#F4AF2E;

$borderColor:rgb(221,221,221);

$borderActiveColor:rgb(136,136,136);

$themeColor:$borderFocusColor;

$mainHeadHeight:60px;

$maiginTop15:15px;

$errorColor:red;

$mainDarkBg:#404040;

$logoBg:#2B1601
